.e404 {
     background: url(../images/crash.jpeg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;

     z-index: 1;
}

.no-underline {
     text-decoration: none !important;
}

/* -- Hover: Rotate -- */
.hvr-rotate {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: transform;
     transition-property: transform;
}

.hvr-rotate:hover,
.hvr-rotate:focus,
.hvr-rotate:active {
     -webkit-transform: rotate(4deg);
     transform: rotate(4deg);
}

.h1-margin-fix {
     margin-bottom: 0.8888889em;
     line-height: 1.1111111;
}